@import '../../utils/vars/vars';
@import '../../utils/styles/mixins';

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  gap: $gap-width;
  
  list-style: none;

  @include onTablet {
    grid-template-columns: 1fr 1fr; 
  }

  @include onMobile {
    grid-template-columns: 1fr; 
  }
}
