@import '../../utils/vars/vars';
@import '../../utils/styles/mixins';

.catalog {
  padding: 50px 75px 63px;

  @include onSmallMobile {
    padding: 15px;
  }

  &__articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: $gap-width;

    margin-bottom: 45px;
    
    list-style: none;
  
    @include onTablet {
      grid-template-columns: 1fr 1fr; 
    }
  
    @include onMobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__paginationWrapper {
    display: flex;
    justify-content: center;
  }
}


