@import "../../utils/styles/mixins";

.linkWrapper {
  text-decoration: none;
  color: #363636;
}

.articleCard {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  width: 400px;
  height: 530px;

  // background: #ffffff;
  border: 1px solid #eaeaea;
  // box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  transition: 500ms;

  &:hover {
    background-color: rgb(244, 242, 242);
    border: 1px solid #eaeaea;
    box-shadow: 3px 3px 8px rgb(116, 115, 115);
  }

  @include onSmallMobile {
    width: 340px;
  }

  &__articleImage {
    width: 400px;
    height: 217px;

    transform: translateX(-0.3px);

    border-radius: 5px 5px 0px 0px;

    @include onSmallMobile {
      width: 340px;
    }
  }

  &__textContent {
    height: calc(530px - 217px);
    padding: 25px;
  }

  &__dateWrapper {
    margin-bottom: 24px;
  }

  &__calendarImage {
    vertical-align: bottom;

    margin-right: 9px;
  }

  &__date {
    display: inline;

    vertical-align: bottom;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.6;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  &__description {
    // margin-bottom: 20px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__linkWrapper {
    position: absolute;
    left: 25px;
    bottom: 25px;
  }

  &__link {
    display: inline;
    margin-right: 6px;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-decoration: none;
    line-height: 150%;
    color: #363636;

    &:hover {
      text-decoration: underline;
    }
  }

  &__linkImage {
    vertical-align: center;
  }
}
